[Unit]
Description=Servease FastAPI Backend
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/servease-backend
ExecStart=/var/www/servease-backend/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
